#confirmacao p{

font-size: 14px;

}

#confirmacao span{

color: #FF8682;

}

#confirmacao a{

    
color: #FF8682;
text-decoration: none;

}

#lado-login #login-esqueceu p{

    margin-left: 40%;

}

