.conteudo__sembarreira{
    margin-top: 50px;
}

.conteudo__populares--container{
    display: flex;
    justify-content: space-around;
}
.conteudo__populares--card{
    width: 300px;
    border-radius: 10px;
}

.conteudo__populares--img{
    width: 300px;
    height: 330px;
    border-radius: 10px;
}

.conteudo__populares--titulo{
    margin: 0 0 10px 40px;
    font-size: 24px;
    color: var(--verde);
    font-family: Oswald;
}

.conteudo__populares--txt{
    margin-bottom: 20px;
    font-family: Alumni;
    font-size: 20px;
}

.conteudo__card--titulo{
    margin: 10px 0;
}

@media screen and (max-width: 1024px){
    .conteudo__populares--container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 768px){
    .conteudo__populares--container{
        display: grid;
        grid-template-columns: 1fr;
    }
}